

.pic1,.pic2,.pic3{
 width: 300px;  
 display: block;
}


.Search{
    font-size: 20px;
    margin-left: 12px;
    display: block;
}
.title,.title2,.title3{
    width: 300px;
}
.video1{
    width: 300px;
    display: inline-block;
}
.video2{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.video3{
    width: 300px;
    display: inline-block;
}
