

/*  here the pagin class is called after that a element is called from the class*/
.pagin a{  padding: 8px 5px; } 
                                  
.back{
    padding-top: 8px;
    padding-bottom: 8px; 
}                                
.next{
    margin-left: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}
/*----------------------*/
.Strech{
    margin-top: 10px;
    padding-top: 5px;padding-bottom: 5px;
    background-color: green;
    color: white;
    font: bold;
    border: none;
    transition: 1s;
}
.Strech:hover{
background-color: green;
padding-right: 15px;padding-left: 15px;
padding-top: 10px; padding-bottom: 10px;
background-color: green;
color: white;
}
/*----------------------*/
.Shadow{
    background-color: green;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: box-shadow 0.15s;

   
}
.Shadow:hover{
    box-shadow: 5px 5px 5px rgba(6, 0, 0, 0.15);
}
.Shadow:active{
    transform: translateY(4px );
}
/*----------------------*/

.One{
 background-color: green;
 color: white;
 border: none;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-left: 10px;
 transition-duration:  0.5s;
}
.One:hover{
    padding-left: 15px; padding-right: 15px;
}
.Two{
 background-color: green;
 color: white;
 border: none;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-left: 10px;
 transition-duration:  0.5s;
}
.Two:hover{
        padding-left: 15px; padding-right: 15px;
}
.Three{
 background-color: green;
 color: white;
 border: none;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-left: 10px;
 transition-duration:  0.5s;
 margin-bottom: 20px;

}
.Three:hover{
        padding-left: 15px; padding-right: 15px;

}
/*-------     text styles         ---------------*/

.A{
    background-color: blanchedalmond;
    font-family: Arial;
    text-align: center;
}
.A1{
    color: red;
    font-size: 15px;
}
.A2{  font-weight: bold;}
.A3{ 
    font-weight: bold;
    font-size: 32px;
}
.money{
    color: rgb(74, 74, 74);
    font-size: 13px;
    margin-top: 10px;
}
.A4{ margin-top: 10px;}
.buy{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding-left: 10px; padding-right: 10px;
}

.B{
    background-color: beige;
    text-align: Arial;
    font-size: 15px;
}
.B1{ font-size: 25px;}
.B2{ color: green;}
.B3{ color: red;}

.images{
    background-color: antiquewhite;
}
.i1{
    width: 200px;
    border-radius: 10px;
    border: solid;
}
.i2{
    width: 200px; 
    height: 200px; 
    object-fit: contain; /* this entity is really impotart for innacurate image size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border: solid;
}
.i3{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 100px;
    border: solid;
}

.name,.Email{
    display:  block; /*  you can call two classes at once*/
}
.customer{
    display: inline-block;
    width: 200px;
}
.y,.n{
   margin-bottom: 50px;
   vertical-align: middle;
}
.search{
    width: 300px;
    display: block;
    border-radius: 50px;
    color: rgb(217, 217, 217);
    border: solid;
    padding-bottom: 5px; padding-top: 5px;
    box-shadow: 2px 2px 10px;
    margin-bottom: 10px;
}

.First,.Second,.email,.signUP{
 padding-top: 5px; padding-bottom: 5px;
 border-radius: 5px;
 border:1px solid;    margin-bottom: 5px;

}

.First{
    color: rgb(207, 195, 195);
    width: 100px;
    opacity: 0.6;
}
.Second{
    color: rgb(207, 195, 195);
    width: 100px;
    opacity: 0.6;

    
}
.email{
    color: rgb(207, 195, 195);
    width: 211px;
    opacity: 0.6;
    display: block;

}
.signUP{
    margin-top: 5px;
    padding-left: 85px;padding-right: 85px;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bold;
}
